{% extends 'FrontendBundle::Default/base.html.twig' %}
{% block Scripts %}
<link rel="stylesheet" href="{{ asset('public/Buttons-1.4.2/css/buttons.bootstrap.min.css') }}">
<style>
                table { width: 50% }
                tbody tr:hover.active td,
                tbody tr:hover td {
                  background-color: #A9D0F5;
                  cursor: pointer;
                }               
                .table>tbody>tr.active>td {
                  background-color: #A9D0F5;
                  color: #000000;
                  font:  bold 12px/18px Georgia, serif;
                }
</style>
 <!-- DataTables -->
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('public/JSZip-2.5.0/jszip.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/pdfmake.min.js') }}"></script>
<script src="{{ asset('public/pdfmake-0.1.32/vfs_fonts.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('public/Buttons-1.4.2/js/buttons.colVis.min.js') }}"></script>
<!-- <script src="{{ asset('') }}"></script>    
<script src="{{ asset('') }}"></script>
<script src="{{ asset('') }}"></script> -->
<script>
                $(document).ready(function() {
                  // armamos el Datatable para traernos la info desde /empresa
                  var table = $('#tabla-empresas').DataTable({
                    dom: 'Bfrtip',
                    lengthMenu: [
                        [ 10, 25, 50, -1 ],
                        [ '10 rows', '25 rows', '50 rows', 'Show all' ]
                    ],
                    buttons: [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis', 'pageLength'],
                    "processing": true,
                    "ajax": "/empresa",
                    "columns": [
                      { "data": "nombre"},
                      { "data": "cuit",
                        "className": "cuit"}, //esto es importante, le ponemos una clase a este campo
                      { "data": "iva.detalle"},
                      { "data": "provincia.nombre" },
                      ]
                  });
                  table.buttons().container().appendTo( '#tabla-empresas .col-sm-6:eq(0)' );
                  

                  // A partir de acá metemos lo que pasa cuando picamos sobre alguna empresa
                  $('#tabla-empresas tbody').on( 'click', 'tr', function () {
                    if ( $(this).hasClass('active') ) {
                      $(this).removeClass('active');
                    }
                    else {
                      table.$('tr.active').removeClass('active');
                      $(this).addClass('active');
                      // metemos en una variable lo que hay en e campo cuit de la empresa seleccionada
                      var cuit = table.$("tr.active").find(".cuit").text();
                      //console.log( cuit );
                      // Mandamos esta variable por post a /empresa/find para traernos toda la info de la empresa y poder volcarla en el panel de la derecha
                      $.post("/empresa/find",{"cuit":cuit},function(resp,estado,jqXHR){
                        //console.log(resp);
                        // Parseamos la respuesta para que no sea un string y podamos navegarlo
                        var arrayResp = JSON.parse(resp);
                        // Aplicamos lo que trajimos para cambiar el valor correspondiente de cada campo donde sea necesario
                        $('div.form-group #empresaID').val(arrayResp.data.id);
                        //$('div.form-group #nombre').attr("placeholder",arrayResp.data.nombre);
                        $('div.form-group #nombre').val(arrayResp.data.nombre);
                        $('div.form-group #domicilio').val(arrayResp.data.domicilio);
                        $('div.form-group #localidad').val(arrayResp.data.localidad);
                        $('div.form-group #provincia').val(arrayResp.data.provincia.nombre);
                        $('div.form-group #iva').val(arrayResp.data.iva.detalle);
                        $('div.form-group #cuit').val(arrayResp.data.cuit);
                        $('div.form-group #ingresosBrutos').val(arrayResp.data.iibb);
                        $('div.form-group #rubro').val(arrayResp.data.rubro.nombre);
                        $('div.form-group #titular').val(arrayResp.data.titular);
                        //console.log(arrayResp.data.cuit);

                      });
                    }

                  });
                  
                });
            </script>
{% endblock %}
{% block body %}
  <!-- ACA EMPIEZO A TRABAJAR LA INTERFAZ Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <h2>
        Ventas
        <small>Buscador</small>
      </h2>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> home</a></li>
        <li><a href="/contable"><i class="fa fa-dashboard"></i> contable</a></li>
        <li class="active">Buscador de ventas</li>
      </ol>
    </section>    
    <section class="content">
      <!-- Small boxes (Stat box) -->                                                          
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Busque la factura deseada..</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">       
              <table id="tabla-empresas" class="table table-bordered table-striped table-hover">
                <thead>                  
                  <tr>
                    <th>Razon Social</th>
                    <th>Cuit</th>
                    <th>Condicion IVA</th>
                    <th>Jurisdiccion</th>                    
                  </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                  <tr>
                    <th>Razon Social</th>
                    <th>Cuit</th>
                    <th>Condicion IVA</th>
                    <th>Jurisdiccion</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            {% block botones %}            
            {% endblock %} 
    <!-- Main content -->        
          </div>
        </div>
      </div>
    </section>    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}